@import "./fonts.css";

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  border: none;
  background: none;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  max-width: 1100px;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}


.logo svg{
  max-width: 150px;
  transition: 1s;
  fill: #fff;
}
.logo:hover svg{
  fill: #ea4c4c;
}
.d-flex{
  display: flex;
  &_center{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.row{
  width: 100%;
  &_col6{
    width: 50%;
  }
  &_col4{
    width: 33.33333%;
  }
}
.header{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #B5B5B5;
  width: 100%;
  box-shadow: 1px 1px #2d2d94;
  &__main{
    height: 175px;
  }
  &__nav-bar{
    margin-left: -200px;
  }
    &__link:not(:last-child){
      margin-right: 40px;
    }
  &__orange{
    width: 112px;
    height: 36px;
    border: 1px solid #F2994A;
    border-radius: 4px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #F2994A;
    &:not(:last-child){
      margin-right: 20px;
    }
  }
    &__orange2{
      width: 200px;
      background: #F2994A;
      box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
      color: #FFFFFF;
    }
}

.hero{
  padding: 250px 0 214px;
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  height: 1509px;
  &__title{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    color: #99EFD0;
    width: 531px;
  }
  &__desc{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #8476AA;
    width: 468px;
    margin: 19px 0 40px;
  }
  &__btn{
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 157px;
    height: 46px;
  }
  &__video-chapter{
    width: 100%;
    margin: 50px 0 20px;
  }
  &__video{
    width: 200px;
    height: 150px;
  }
  &__video-desc{
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #8476AA;
    width: 332px;
    margin-left: 10px;
    margin-top: 10px;
  }
}
